*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
@media screen and (max-width:834px) {
  img {
    max-width: 100%;
  }
}

body {
  font-size: 1.6rem;
  color: #000;
  // background: #fff;
  font-family: 'Montserrat','Noto Sans JP','sans-serif';
  letter-spacing: 0.08em;
  font-weight: normal;
  line-height: 1.5;
}
h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

.content-title {
  text-align: center;
  padding: 20px 0;
  margin-top: 32px;
}

.content-body {
  margin-top: 32px;
}

.content-innerText {
  padding-top: 32px;
  font-size: 1.8rem;
  text-align: center;

  .link-btn {
    display: inline-block;
    padding: 8px;
    color: #aeaeae;
    background-color: #f5f5f5;
    // max-width: 50%;
    box-shadow: 7px 7px 5px rgb(0 0 0 / 30%);
    transition: 1s all;
    border-radius: 8px;
    font-weight: 600;
    &:hover {
      color: #fff;
      background-color: #b22222a6;
      transform: translateY(10px);
      border: none;
    }
  }
  p::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../image/icon.svg) no-repeat;
    background-size: contain;  // 要素の領域に画像全体を収めるため
    margin-right: 6px;
  }
}
// .{
//   transition: 0.5s;
//   transform: scale(1);
//   background: #abcf3e;
//   &:hover {
//     transform: scale(1.2);
//     background: #3fc90b;
//   }
// }
.wrapper {
  width: 100%;
  max-width: 1080px;
}
.section-wrapper {
  margin-top: 96px;
}
