@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

@media screen and (max-width: 834px) {
  img {
    max-width: 100%;
  }
}
body {
  font-size: 1.6rem;
  color: #000;
  font-family: "Montserrat", "Noto Sans JP", "sans-serif";
  letter-spacing: 0.08em;
  font-weight: normal;
  line-height: 1.5;
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

.content-title {
  text-align: center;
  padding: 20px 0;
  margin-top: 32px;
}

.content-body {
  margin-top: 32px;
}

.content-innerText {
  padding-top: 32px;
  font-size: 1.8rem;
  text-align: center;
}
.content-innerText .link-btn {
  display: inline-block;
  padding: 8px;
  color: #aeaeae;
  background-color: #f5f5f5;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
  transition: 1s all;
  border-radius: 8px;
  font-weight: 600;
}
.content-innerText .link-btn:hover {
  color: #fff;
  background-color: rgba(178, 34, 34, 0.6509803922);
  transform: translateY(10px);
  border: none;
}
.content-innerText p::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/icon.svg) no-repeat;
  background-size: contain;
  margin-right: 6px;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
}

.section-wrapper {
  margin-top: 96px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
@media screen and (max-width: 834px) {
  header {
    height: 80px;
  }
}

.header-inner {
  padding: 0 40px;
}
@media screen and (max-width: 834px) {
  .header-inner {
    padding: 0 20px;
  }
}

.site-title {
  font-weight: 700;
  font-size: 2.2rem;
  padding: 20px 0 0;
}
@media screen and (max-width: 834px) {
  .site-title {
    white-space: nowrap;
    line-height: 2;
  }
}

.pc-nav-list {
  display: flex;
  margin: 30px 0 16px;
  color: #186334;
}

.pc-nav-item {
  padding-right: 40px;
  transition: all 0.5s ease-out;
  font-weight: 600;
}
.pc-nav-item:hover {
  transform: scale(1.25);
  color: #62b380;
}

@media screen and (max-width: 834px) {
  .pc-nav {
    display: none;
  }
}
/*===================================
# spスタイル
====================================*/
.hamburger {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #186334;
  z-index: 100;
}
@media screen and (min-width: 835px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 40px;
  height: 2px;
  background-color: #fff;
  /* ふわっと表示 */
  transition: transform 0.5s;
}
.hamburger span:nth-of-type(1) {
  top: 20px;
}
.hamburger span:nth-of-type(2) {
  top: 30px;
}
.hamburger span:nth-of-type(3) {
  top: 40px;
}

.hamburger.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.sp-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9019607843);
  color: #186334;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  /* ふわっと表示 */
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 835px) {
  .sp-nav {
    display: none;
  }
}

.sp-nav.active {
  opacity: 1;
  pointer-events: auto;
}

.sp-nav-list {
  width: 480px;
  margin: 120px auto;
}

.sp-nav-item {
  margin-bottom: 40px;
  text-align: center;
}

/*===================================
# ファーストビュー
====================================*/
main {
  padding-top: 120px;
}

.main-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.main-inner {
  padding: 0 40px;
  position: relative;
}
@media screen and (max-width: 834px) {
  .main-inner {
    padding: 0 20px;
  }
}

.main-img {
  width: 100%;
  max-width: 1080px;
  height: 600px;
}

.main-message {
  position: absolute;
  top: 350px;
  left: 130px;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 834px) {
  .main-message {
    left: 70px;
  }
}

/*===================================
# Pickup
====================================*/
.Pickup {
  width: 84%;
  text-align: center;
  margin: 0 auto;
}

.Pickup-area {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 834px) {
  .Pickup-area {
    gap: 10px;
  }
}

.Pickup-item {
  margin-bottom: 16px;
  font-size: 12px;
}
@media screen and (max-width: 834px) {
  .Pickup-item {
    padding: 0 8px;
    margin-bottom: 8px;
    width: calc(33% - 8px);
  }
}

/*===================================
# info
====================================*/
.swiper-wrapper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .swiper-slide {
    padding: 0 20px;
  }
}
.swiper-slide img {
  width: 100%;
}
@media screen and (max-width: 834px) {
  .swiper-slide img {
    max-width: 100%;
    min-height: 250px;
    max-height: 300px;
  }
}

/*===================================
# news
====================================*/
.news {
  width: 84%;
  margin: 0 auto;
}

.news-area {
  display: block;
}

.news-item {
  max-width: 1080px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  border-top: dashed 1px px #b4998e;
  -webkit-box-pack: start;
}
@media screen and (max-width: 834px) {
  .news-item {
    padding-bottom: 48px;
  }
}

.news-TagLabel {
  display: block;
  width: 140px;
  padding: 4px;
  white-space: nowrap;
  color: #732200;
  text-align: center;
  border-radius: 4px;
}
@media screen and (max-width: 834px) {
  .news-TagLabel {
    font-size: 1.4rem;
    width: 120px;
  }
}

.news-TagLabel-info {
  background-color: #fdf9de;
}

.news-TagLabel-news {
  background-color: #fff4f4;
}

.news-TagLabel-newitem {
  background-color: #d5f1e0;
}

.news-Date {
  margin-left: 24px;
  white-space: nowrap;
  padding: 4px;
}
@media screen and (max-width: 834px) {
  .news-Date {
    font-size: 1.4rem;
    margin-left: 14px;
  }
}

.news-Text {
  width: 100%;
  padding-top: 8px;
}

/*===================================
# recipe
====================================*/
.recipe-mainitem img {
  display: block;
  margin: auto;
}

.recipe-subitem {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.recipe-item {
  padding: 0 20px;
  margin-top: 28px;
}

.recipe-image {
  cursor: pointer;
  background: gray;
}
.recipe-image img {
  opacity: 0.4;
}

/*===================================# kodawari====================================*/
.inner-color {
  background-color: #f0fff1;
  padding-top: 56px;
  padding-bottom: 56px;
}

.kodawari-area {
  display: flex;
  justify-content: center;
}

.kodawari-item {
  padding: 0 12px;
}

.kodawari-text p {
  font-size: 18px;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .kodawari-text p {
    white-space: nowrap;
  }
}

.footer-inner {
  padding: 0 40px;
}
@media screen and (max-width: 834px) {
  .footer-inner {
    padding: 0 20px;
  }
}

.footer-nav-list {
  display: flex;
  margin: 48px 0 16px;
  color: #186334;
}

.footer-nav-item {
  padding-right: 40px;
  transition: all 0.5s ease-out;
  font-weight: 600;
}
.footer-nav-item:hover {
  transform: scale(1.25);
  color: #62b380;
}/*# sourceMappingURL=style.css.map */