/*===================================
# ファーストビュー
====================================*/
main {
  padding-top: 120px;
}
.main-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.main-inner {
  padding: 0 40px;
  position: relative;
    @media screen and (max-width:834px) {
      padding: 0 20px;
    }
}
.main-img {
  width: 100%;
  max-width: 1080px;
  height: 600px;
  // height: calc(100vh - 80px);
  // object-fit: fill;
}
.main-message {
  position: absolute;
  top: 350px;
    left: 130px;
  width: 150px;
  height: 150px;
  @media screen and (max-width:834px) {
    left: 70px;
  }
}

/*===================================
# Pickup
====================================*/
.Pickup {
  width: 84%;
  text-align: center;
  margin: 0 auto;
}
.Pickup-area {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media screen and (max-width:834px) {
    gap: 10px;
  }
}
.Pickup-item {
  margin-bottom: 16px;
  font-size: 12px;
  @media screen and (max-width:834px) {
    padding: 0 8px;
    margin-bottom: 8px;
    width: calc(33% - 8px);
  }
}

/*===================================
# info
====================================*/
// .swiper {
//   width: 800px;
//   max-width: 100%;
//   height: 500px;
// }

.swiper-wrapper {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  @media screen and (max-width:834px) {
    padding: 0 20px;
  }
  img {
    width: 100%;
    @media screen and (max-width:834px) {
      max-width: 100%;
      min-height: 250px;
      max-height: 300px;
    }
  }
}
/*===================================
# news
====================================*/
.news {
  width: 84%;
  margin: 0 auto;
}
.news-area {
  display: block;
}
.news-item {
  max-width: 1080px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  border-top: dashed 1px px #b4998e;
  -webkit-box-pack: start;
  @media screen and (max-width:834px) {
    padding-bottom: 48px;
  }
}
.news-TagLabel {
  display: block;
  width: 140px;
  padding: 4px;
  white-space: nowrap;
  color: #732200;
  text-align: center;
  border-radius: 4px;
  @media screen and (max-width:834px) {
    font-size: 1.4rem;
    width: 120px;
  }
}
.news-TagLabel-info {
  background-color: #fdf9de;
}
.news-TagLabel-news {
  background-color: #fff4f4;
}
.news-TagLabel-newitem {
  background-color: #d5f1e0;
}

.news-Date {
  margin-left: 24px;
  white-space: nowrap;
  padding: 4px;
  @media screen and (max-width:834px) {
    font-size: 1.4rem;
    margin-left: 14px;
  }
}
.news-Text {
  width: 100%;
  padding-top: 8px;
}

/*===================================
# recipe
====================================*/
// .recipe {
//   padding: 0 40px;
//   @media screen and (max-width:834px) {
//     padding: 0 20px;
//   }
// }
.recipe-mainitem img {
  display: block;
  margin: auto;
  width: 500px;
  height: auto;
  @media screen and (max-width:834px) {
    display: none;
  }
}
.recipe-subitem {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;
  @media screen and (max-width:834px) {
    flex-direction: column;
  }
}

.recipe-item {
  padding: 0 20px;
  margin-top: 28px;
  width: 33.3%;
  @media screen and (max-width:834px) {
    padding-bottom: 48px;
    margin: 0 auto;
    width: 100%;
  }
}

.recipe-image {
  cursor: pointer;
  background: #4e4c4c;
  img {
      opacity: 0.4;
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }
}
@media screen and (max-width:834px) {
  .recipe-text {
    text-align: center;
    padding-top: 8px;
  }
}
/*===================================#
kodawari
====================================*/
    @media screen and (max-width:834px) {
      .kodawari .content-title {
        padding: 20px 20px;
      }
    }
.inner-color {
  background-color: #f0fff1;
  padding: 8px 20px 56px;
}

.kodawari-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.kodawari-item {
  padding: 0 20px;
  width: 33.3%;
  text-align: center;
  @media screen and (max-width:834px) {
    width: 100%;
    padding-bottom: 40px;
  }
}
.kodawari-image img {
  width: 100%;
  height: auto;
  @media screen and (max-width:834px) {
    width: 350px;
  }
}
.kodawari-text p {
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
  @media screen and (max-width:834px) {
    white-space: nowrap;
    margin-top: 4px;
  }
}
