/*===================================
# ファーストビュー
====================================*/
main {
  padding-top: 120px;
}
.main-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.main-inner {
  padding: 0 40px;
  position: relative;
    @media screen and (max-width:834px) {
      padding: 0 20px;
    }
}
.main-img {
  width: 100%;
  max-width: 1080px;
  height: 600px;
  // height: calc(100vh - 80px);
  // object-fit: fill;
}
.main-message {
  position: absolute;
  top: 350px;
    left: 130px;
  width: 150px;
  height: 150px;
  @media screen and (max-width:834px) {
    left: 70px;
  }
}

/*===================================
# Pickup
====================================*/
.Pickup {
  width: 84%;
  text-align: center;
  margin: 0 auto;
}
.Pickup-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Pickup-item {
  padding: 0 20px;
  margin-bottom: 16px;
  font-size: 12px;
}

/*===================================
# info
====================================*/
.info-area {
  display: flex;
  li {
    padding: 0 30px;
  }
}
